

button {
  margin-left: 10px;
}

.button-center {
  text-align: center;
}

.form-control {
  border-radius: 1.50rem;
  padding-inline-start: 20px;
  background-color: #f5f5f5;
}

.form-control:focus {
  background-color: #f5f5f5;
}

.search-and-button {
  display: inline-flex;
}

.BigTitle {
  text-align: center;
  font-size: 75px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  margin: auto;
  width: 100%;
}

.SmallTitle{
  text-align: center;
  width: 758px;
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  margin-left: 120px;
  margin-bottom: -9px;
}

.SearchAndLogoContainer {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0px;
  width: 875px;
  height: 58%;
}

.search-form.no-search{
  padding: 15px;
  display: inline-flex;
}

.search-form .environment-radio-buttons input{
  margin-left: 116px;
  margin-top: 14px;
  margin-right: 5px;
}